body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url("https://images.unsplash.com/photo-1650016883397-1225cb4e47b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
  }
      .container{
          display: flex;
          width:80%;
          margin:20px auto;
         flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 80vh;
      }
      .logo{
          width:50%;
          text-align: center;
      }
      img{
          border:5px solid rgb(242, 66, 66)
      }
      .form{
          width:30%;
          /* border-left:2px solid red; */
          /* width:500px; */
          border-radius: 10px;
          background-color:rgb(210, 207, 207);
          background: transparent;
          padding: 30px;
          margin:auto;
          /* #f2f2f2; */
      }
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color:rgb(242, 66, 66);
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
  }
  input[type="submit"] {
    background-color: rgb(242, 66, 66);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:18px
  }
  input[type="submit"]:hover {
    background-color: rgb(244, 43, 43);
  }
  a{
      display: block;
      text-decoration: none;
      cursor: pointer;
      color:rgb(33, 32, 32);
      margin-top: 20px;
  }
  a:hover{
      text-decoration: underline;
  }
  .lds-facebook {
      display: block;
      position: relative;
      width: 80px;
      height: 80px;
      background-color: rgb(204, 201, 201);
      margin: auto;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 16px;
      background: rgb(242, 66, 66);
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 8px;
        height: 64px;
      }
      50%,
      100% {
        top: 24px;
        height: 32px;
      }
    }